* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

.d-flex #imagemUsuario img {
    border-radius: 50%;
}

.d-flex .btn {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex .btn ion-icon {
    font-size: 20px;
    margin-right: 10px;
}

#msgAlerta {
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    flex-direction: column;
}

#msgAlerta .alert {
    width: 100% !important;
}

#msgAlerta button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#msgAlerta button ion-icon {
    font-size: 20px;
}

#verSenhaLogin,
#verSenhaCadastro {
    position: relative;
    right: 0;
    bottom: 0;
    padding: 11px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#verSenhaLogin i,
#verSenhaCadastro i {
    font-size: 20px;
}

section form .form-group .form-floating:nth-child(3) {
    display: flex;
    gap: 2px;
}

section form .form-group .form-floating label {
    width: 90%;
}